.sidebar {
  margin: 0;
  padding: 0;
  width: var(--sidebar-width);
  background-color: #333333;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 50px; /* Adjust for the navbar height */
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: rgb(62, 62, 202);
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
